<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Background Component</title>
    <style>
        .bg-icons-wrapper {
            position: fixed;
            inset: 0;
            pointer-events: none;
            z-index: 0;
            overflow: hidden;
        }

        .bg-icon {
            position: absolute;
            opacity: 0.08;
            user-select: none;
            will-change: transform;
        }
    </style>
</head>
<body>
    <div class="bg-icons-wrapper">

        <!-- Top row -->
        <img src="assets/bgicons/skill-icons_swift.png"            class="bg-icon" style="top:5%;   left:3%;   width:54px; transform:rotate(-14deg);">
        <img src="assets/bgicons/devicon_flutter.png"              class="bg-icon" style="top:9%;   left:19%;  width:46px; transform:rotate(9deg);">
        <img src="assets/bgicons/skill-icons_python-light.png"     class="bg-icon" style="top:4%;   left:37%;  width:50px; transform:rotate(16deg);">
        <img src="assets/bgicons/skill-icons_html.png"             class="bg-icon" style="top:11%;  left:55%;  width:44px; transform:rotate(-7deg);">
        <img src="assets/bgicons/skill-icons_kotlin-light.png"     class="bg-icon" style="top:6%;   left:72%;  width:52px; transform:rotate(-20deg);">
        <img src="assets/bgicons/ic_outline-apple.png"             class="bg-icon" style="top:8%;   left:88%;  width:42px; transform:rotate(12deg);">

        <!-- Second row -->
        <img src="assets/bgicons/flat-color-icons_android-os.png"  class="bg-icon" style="top:24%;  left:7%;   width:58px; transform:rotate(11deg);">
        <img src="assets/bgicons/skill-icons_javascript.png"       class="bg-icon" style="top:28%;  left:27%;  width:48px; transform:rotate(-17deg);">
        <img src="assets/bgicons/logos_dart.png"                   class="bg-icon" style="top:22%;  left:48%;  width:46px; transform:rotate(22deg);">
        <img src="assets/bgicons/devicon_mysql.png"                class="bg-icon" style="top:26%;  left:67%;  width:52px; transform:rotate(-9deg);">
        <img src="assets/bgicons/devicon_jetpackcompose.png"       class="bg-icon" style="top:23%;  left:85%;  width:50px; transform:rotate(6deg);">

        <!-- Third row -->
        <img src="assets/bgicons/skill-icons_css.png"              class="bg-icon" style="top:44%;  left:2%;   width:44px; transform:rotate(-22deg);">
        <img src="assets/bgicons/logos_java.png"                   class="bg-icon" style="top:48%;  left:20%;  width:56px; transform:rotate(7deg);">
        <img src="assets/bgicons/skill-icons_swift.png"            class="bg-icon" style="top:42%;  left:42%;  width:48px; transform:rotate(-11deg);">
        <img src="assets/bgicons/devicon_flutter.png"              class="bg-icon" style="top:50%;  left:60%;  width:52px; transform:rotate(18deg);">
        <img src="assets/bgicons/skill-icons_python-light.png"     class="bg-icon" style="top:45%;  left:80%;  width:46px; transform:rotate(-6deg);">

        <!-- Fourth row -->
        <img src="assets/bgicons/skill-icons_kotlin-light.png"     class="bg-icon" style="top:65%;  left:8%;   width:54px; transform:rotate(14deg);">
        <img src="assets/bgicons/ic_outline-apple.png"             class="bg-icon" style="top:68%;  left:28%;  width:42px; transform:rotate(-19deg);">
        <img src="assets/bgicons/devicon_jetpackcompose.png"       class="bg-icon" style="top:63%;  left:50%;  width:50px; transform:rotate(8deg);">
        <img src="assets/bgicons/skill-icons_javascript.png"       class="bg-icon" style="top:70%;  left:70%;  width:46px; transform:rotate(-13deg);">
        <img src="assets/bgicons/logos_dart.png"                   class="bg-icon" style="top:66%;  left:90%;  width:48px; transform:rotate(20deg);">

        <!-- Bottom row -->
        <img src="assets/bgicons/flat-color-icons_android-os.png"  class="bg-icon" style="top:84%;  left:4%;   width:56px; transform:rotate(-8deg);">
        <img src="assets/bgicons/skill-icons_html.png"             class="bg-icon" style="top:88%;  left:22%;  width:44px; transform:rotate(17deg);">
        <img src="assets/bgicons/logos_java.png"                   class="bg-icon" style="top:82%;  left:44%;  width:54px; transform:rotate(-16deg);">
        <img src="assets/bgicons/skill-icons_css.png"              class="bg-icon" style="top:87%;  left:64%;  width:46px; transform:rotate(10deg);">
        <img src="assets/bgicons/devicon_mysql.png"                class="bg-icon" style="top:83%;  left:84%;  width:50px; transform:rotate(-4deg);">

    </div>
</body>
</html>
